.venv
.env
dcrm/__pycache__/
terraformar/.terraform.lock.hcl
terraformar/.terraform/
terraformar/aws_keys_pairs.pem
terraformar/terraform.tfstate
terraformar/terraform.tfstate.backup
website/__pycache__/
website/migrations/0001_initial.py
website/migrations/__pycache__
mypass.py
__pycache__
*.terraform.tfstate*